# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Cache Files\IntelliJ_IDEA WorkSpace\Projects\MY DEMO\SHHSpringCloudAlibaba\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
